# Mac OS
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# IDE
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
composer.lock
*.sublime-workspace
*.swp
*.swo
.projectile
.vscode
.history
*.vsix
*.tmproj
*.tmproject
tmtags

# Node
node_modules
npm-debug.log*
logs
*.log
coverage
*.lcov
*.tsbuildinfo
.npm
.eslintcache

# Next.js
.next
out/
build/

# Environment
.env*
!docker/.env.default

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map