.rainContainer {
  filter: drop-shadow(0 0 10px white);
  pointer-events: none;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
}

.logo {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: scale(0.1);
  background-image: url("../../../../public/xmtp-icon.png");
  background-size: 50px auto;
  border-radius: 50%;
  animation: fall linear infinite;
}

/* Keyframes for the falling animation */
@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}
