@tailwind base;
@tailwind components;
@tailwind utilities;

.tippy-tooltip {
  padding: 0 !important;
  background-color: transparent !important;
}

.tippy-tooltip .enter {
  background-color: transparent !important;
}
